<% include ../common/header.ejs %>

<div class = "wrapper">
	<div class= "topic-box">
		<h1> Sidonia Template Topic </h1>
		<br>
		<table class="table table-striped">
			<tbody>
				<tr>
					<td>
						<h3>Forum Name</h3>
						
					</td>
					<td>
						<h3>Description</h3>
						
					</td>
					<td>
						<h3>Date</h3>
						
					</td>
					<td>
						<h3>Replies</h3>
					</td>
				</tr>
  				<% for(var i = 0; i < topics.length; i++) { %>
  				<tr>
					<td> <a href="/topic/<%= topics[i]._id %>/replies"> <%= topics[i].title %>  </a> </td>
					<td> <%= topics[i].description %> </td>
					<td> <%= topics[i].created %> </td>
					<td> 0</td>
				</tr>
				<% } %>

				<tr>
					<td>
						<a href="/forum/<%= forum %>/topic/new"><h3> Create new Topic </h3> </a> 
					</td>
					
				</tr>
			</tbody>
		</table>
	</div>

<% include ../common/footer.ejs %>
